entrypoint = "README.md"
modules = ["nodejs-22"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run expo:static:build && npm run server:build"]
run = ["npm", "run", "server:prod"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[env]
PORT = "5000"

[agent]
stack = "EXPO"
integrations = ["revenuecat:1.0.0", "resend:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start App"

[[workflows.workflow]]
name = "Start App"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server:dev & npm run expo:dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[userenv]

[userenv.shared]
REVENUECAT_PROJECT_ID = "proj70400504"
REVENUECAT_TEST_STORE_APP_ID = "app2e9257619e"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app71e5afffab"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app2ecfa2f279"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_OVixwiSPKOPhIluJMpmGtlhHlOY"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_nMVCwOEWgnfaFkTaigwXqcnXHJF"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_OIWtIhtwyEDdpVTZCBOiTxckQZM"
EXPO_PUBLIC_DEFAULT_LANGUAGE = "En"
